// #contb {
// 	padding-top:80px;
// 	width: 1000px;
// 	height: 600px;
// 	margin-left: 200px;
// 	background: #ccc;
// }
// #ack {
// 	width: 1000px;
// 	height: 600px;
// 	margin-left: 200px;
// 	background: #ddd;
// }
.co_f_a {
    padding-top: 8em;

    width: 110em;
    height: auto;
    margin: 2em auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .co_a {
        // background: #aaa;
        box-sizing: border-box;
        //box-shadow: 0em 0em 1em #ccc;
        border: 0.2em #ccc dashed;


        margin: 3em auto;
        width: 40em;
        height: 18em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 120px;
        height: 160px;
    }

    ul {
        display: inline-block;
        margin: 0 0.7em;
        font-size: 2em;
    }
}