@mixin margin-padding {
	margin-top: 8em;
}

#show {
	position: relative;
	top: 8em	;
	width: 637px;
	height: 533px;
	margin: 0 auto;
}

#intro {
	width: 85em;
	height: auto;
	margin: 0 auto;
	box-sizing:border-box;
 	box-shadow:0em 0em 1em #ccc;

	margin-top:10em;
	padding: 3em 5em;
	p {
		text-indent: 2.5em;
		font-size: 2em;
		line-height: 1.5em;
	}
}


#values {
	margin: 0 auto;
	@include margin-padding;

	display: flex;
	flex-direction:row;
	justify-content: space-around;

	.value {
		width: 33em;
		box-sizing:border-box;
 		//box-shadow:0em 0em 1em #ccc;
 		border: 0.25em #bbb dashed;


 		opacity: 0.8;
		
		span {
			display: block;
			font-size: 4em;
		}
	}
	#v1,#v2,#v3 {
		padding: 3em 6em;
	}
	#v1 {
		background: #FFDAC8;
	}
	#v2 {
		background: #E8FFC4;
	}
	#v3 {
		background:	#FFFFCE;
	}
}

#results {
	width: 80em;
	
	margin: 0 auto;
	margin-bottom: 8em;

	#res1,#res2,#res3 {
		padding:4em 0em 4em 0em;
		@include margin-padding;
		box-sizing:border-box;
 		box-shadow:0em 0em 1em #ccc;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		p {
			width: 25em;
			display: inline-block;
			font-size: 2em;
			line-height: 1.3em;
		}
	}
}
