@mixin margin-padding {
	margin-top: 8em;
}

#show {
	position: relative;
	top: 10em	;
	width: 948px;
	height: 379px;
	margin: 0 auto;
}

#intro {
	width: 85em;
	height: auto;
	margin: 0 auto;
	box-sizing:border-box;
 	box-shadow:0em 0em 1em #ccc;

	margin-top:15em;
	padding: 3em 5em;
	p {
		text-indent: 2.5em;
		font-size: 2em;
		line-height: 1.5em;
	}
}


#values {
	margin: 0 auto;
	@include margin-padding;

	display: flex;
	flex-direction:row;
	justify-content: space-around;

	.value {
		width: 30em;
		margin: 0 5em;
 		border: 0.25em #bbb dashed;
 		opacity: 0.8;
 		padding: 5em 3em;
		
		span {
			display: block;
			font-size: 2em;
			text-align: center;
			margin: 0 auto;
		}
	}
	#v1 {
		background: #FFDAC8;
		span {
			width: 15em;
		}
	}
	#v2 {
		background: #E8FFC4;
		span {
			width: 8em;
		}
	}
	#v3 {
		background:	#FFFFCE;
		span {
			width: 10em;
		}
	}
}

#results {
	width: 80em;
	
	margin: 0 auto;
	margin-bottom: 8em;

	#res1,#res2,#res3 {
		padding:4em 0em 4em 0em;
		@include margin-padding;
		box-sizing:border-box;
 		box-shadow:0em 0em 1em #ccc;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		p {
			width: 25em;
			display: inline-block;
			font-size: 2em;
			line-height: 1.3em;
		}


		&:hover {
			border:  0.2em #bbb dashed;
		}
	}
}
