@mixin margin-padding {
	margin-top: 30px;
}
#intro {
	width:900px;
	height:1300px;
	background: #ddd; 
	margin: 0 auto;
	padding: 20px 50px;

	position: relative;
	top: 80px;
	margin-top:50px;
	margin-bottom: 130px;
	
	h3 {
		margin-bottom: 20px;
		a {
			color: black;
			font-weight: lighter;
			&:hover {
				color:#31c27c;
			}
		}
	}

	p {
		text-indent: 50px;
		font-size: 20px;
		line-height: 25px;
		font-weight: 320;
	}

	section {
		width: 559px;
		margin: 40px auto;
	}
}

#proj {
	padding-top: 80px;
	//background: #ccc;

	height: 800px;
	width: 1000px;
	margin: 0 auto;
}
.proj {
	width: 960px;
	height: 300px;
	background: #ddd;
	@include margin-padding;
	padding: 0 20px;

	a {
		font-size: 40px;
	}

	.art_mes {
		margin-top: 5px;
		border-bottom: 1px solid #999;

		em,i{
			margin-left: 10px;
		}
	}

	.cont {
		@include margin-padding;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		img {
			width: 250px;
			height: 130px;
		}
		p {
			width: 650px;
			display: inline-block;
		}
	}
	
}

